.form {
    /* border: 1px solid red; */
    background-color: #2E3239;
    position: sticky;
    top: -0;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 50%;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .form {
        width: 90%;
    }
}