li {
    display: flex;
    position: relative;
    list-style-type: none;
    border: 1px solid #B4B4B4;
    padding: 15px;
    border-radius: 4px;
    color: #F4F6FA;
    /* border-bottom: none; */
    margin-bottom: 10px;
}
li input[type="checkbox"] {
    margin-right: 10px;
    width: .8rem;
    opacity: 0;
    transition: all .4s ease;
}
li:hover input[type="checkbox"] {
    opacity: 1;
}
li p {
    width: 80%;
    /* border: 1px solid red; */
}
.line {
    text-decoration: line-through;
}
li .icons {
    transition: all .4s ease;
    opacity: 0;
    right: 0;
    top: 35%;
}
li:hover .icons.edit-icon {
    right: 45px;
    opacity: 100;
}
li:hover .icons.star-icon {
    right: 75px;
    opacity: 100;
}
li:hover .icons.delete-icon {
    right: 20px;
    opacity: 100;
}
.icons {
    position: absolute;
    cursor: pointer;
}
/* li:last-of-type {
    border: 1px solid #B4B4B4;
} */